.panda-bg-color{
    background-color: #b8a6d9;
}
.categories img{
    width: 100px;
}
.panda-buy-now{
    background-image: linear-gradient(to bottom, #f074a5 0%, #e70c60 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}